@page "/users"

@using ReqResLiteDb.Data
@inject UserPersistenceService UserPersistenceService

<h1>Show saved Users from ReqResIn</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Avatar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td><img src="@user.Avatar" alt="user avatar" width="50" height="50"></td>
                    <td><button @onclick="@(e=>DeleteUser(user.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
   private IList<User> users;

   protected override Task OnInitializedAsync()
   {
       LoadUsers();
       return Task.CompletedTask;
   }

   void LoadUsers()
   {
       users = UserPersistenceService.Users.FindAll().ToList();
   }

   void DeleteUser(int userId)
   {
       UserPersistenceService.Delete(userId);
       LoadUsers();
   }
}
